.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #282c34;
  color: white;
  padding: 1rem 2rem;
}

.bg-image {
  width: 100px;
}

.features { 
  display: flex;
  align-items: center;
}

.exports a:nth-child(2) {
  margin: 0 1rem;
}

.cursor-pointer {
  cursor: pointer;
}

.save {
  display: flex;
  margin-top: 1rem;
}
.save a {
  color: #fff
}
.save a:last-child {
  margin-left: 1rem;
}